:root {
  --white: hsl(0, 0%, 100%);
  --text: hsl(228, 12%, 48%);
  --pale: hsl(32, 37%, 92%);
  --green: hsl(158, 36%, 37%);
  --header-text: hsl(212, 215, 14%);
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--pale);
}

p {
  margin-left: 5px;
}

#header-img {
  width: 60px;
  object-fit: contain;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--white);
  padding: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  padding: 0 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.the-product {
  font-size: 25px;
  margin-left: 10px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#email-section {
  margin: 100px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--green);
}

#submit {
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
}

section::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

section {
  margin: 40px 20px;
  text-align: center;
}

h2 {
  font-family: fantasy;
  margin-bottom: 10px;
}

#icon {
  color: var(--green);
  margin-right: 30px;
}

#features {
  text-align: left;
  max-width: 800px;
  margin: auto;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#video {
  width: 100%;
}

#product-image {
  width: 100%;
  margin: auto;
  height: 500px;
  border: 1px solid var(--text);
  border-radius: 10px 10px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.inner-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text);
  margin-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main-price {
  margin-right: 20px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--green);
}

.old-price {
  text-decoration: line-through;
  color: var(--text);
}

.author {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 5px;
  color: var(--text);
  text-transform: uppercase;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 0;
  color: var(--header-text);
}

.add {
  background-color: var(--green);
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 10px;
  width: 100%;
  color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  #nav-bar {
    flex-direction: row;
  }
}

@media only screen and (450px < width < 600px) {
  .card {
    font-size: 0.85rem;
  }

  .product-imgage {
    height: 400px;
  }
}

@media only screen and (450px < width) {
  .card {
    display: flex;
    max-width: 525px;
  }

  .inner-card {
    width: 300px;
    border-radius: 10px 0 0 10px;
  }

  .product-imgage {
    height: 400px;
  }
}

  
